<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Room Shooter Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Room Shooter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91FD455C1C77B2E100A606AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91FD456F1C77B2E200A606AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91FD457A1C77B2E200A606AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A75DFFB1C77B4D700C547B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
